@model IEnumerable<WebPizza_18.Models.Product>

@{
    ViewBag.Title = "Search";
}

<h2>Các kết quả tìm kiếm phù hợp</h2>

<table class="table">
    <tr>
        <th>
            @ViewData["ProductName"]
        </th>
        <th>
            @ViewData["Ingredients"]
        </th>
        <th>
            @ViewData["UnitPrice"]
        </th>
        <th>
            @ViewData["Size"]
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |*@
                @Html.ActionLink("Xem chi tiết", "DetailsProduct", new { id = item.ProductID }) |
                <a href="@Url.Action("AddCart","Cart", new {@id = @item.ProductID})">Thêm vào giỏ hàng</a>
            </td>
        </tr>
    }

</table>
<p>
    <a href="@Url.Action("Index","Home")">Quay lại</a>
</p>